# Flutter/Dart/Pub related
**/doc/api/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE files
.idea/
.vscode/

# Miscellaneous
*.log
*.lock